
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+NO:wght@100..400&display=swap');


h1, h2, h3, h4, p, li {
  font-family: "Lato", sans-serif;
  
}

.hero h1 {
  text-align: center;
  padding-top: 66px;

}

p.calltoaction {
  text-align: center;
}

p.calltoaction a {
  margin: 0.2em;
}


h1 em {
  font-family: "Playwrite NO", cursive;
  font-style: normal;
  border-bottom: 8px solid rgba(255, 255, 0, 0.39); 
}

h1.team {
  margin: 3em 0 0 0;
  padding: 0; 
}

.team article {
  padding: 0;
}

.team article img {
  border: 1px solid #fff; 
  border-radius: 6px 6px 0 0;
}

.team article h4 {
  padding: 0.8em 0 0 20px;  
}

.team article p {
  padding: 0 1em 1em 20px; 
  
}

article h4 {
  margin: 0; 
  padding: 0;
}